@{
    ViewBag.SiteTitle = ViewBag.SiteTitle ?? @System.Web.Configuration.WebConfigurationManager.AppSettings["SiteTitle"];
    ViewBag.SiteName = ViewBag.SiteName ?? @System.Web.Configuration.WebConfigurationManager.AppSettings["SiteName"];
    ViewBag.FullSiteUrl = @System.Web.Configuration.WebConfigurationManager.AppSettings["FullSiteUrl"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.SiteTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="top"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink((string)ViewBag.SiteName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#top" title="Главная страница">Главная</a></li>
                    <li><a href="/#catalog" title="Каталог товаров">Каталог</a></li>
                    <li><a href="/#payment" title="Способы оплаты">Оплата</a></li>
                    <li><a href="/#delivery" title="Способы доставки">Доставка</a></li>
                    <li><a href="/#contacts" title="Контактная информация">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-6"><p>&copy; @DateTime.Now.Year - @ViewBag.SiteTitle</p></div>
                <div class="col-md-6 hidden-sm hidden-xs text-right">
                    <p><a href="@ViewBag.FullSiteUrl">Перейти в полную версию интернет-магазина</a>
                    </p>
                </div>
                <div class="col-md-6 visible-sm visible-xs"><p><a href="@ViewBag.FullSiteUrl">Перейти в полную версию интернет-магазина</a></p></div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
